@import "tailwindcss";

body {
  font-family: "Jost", sans-serif;
  
 
}
.logo-animation {
  clip-path: inset(0 100% 0 0);
  animation: carveReveal 1.8s ease forwards;
}

@keyframes carveReveal {
  from {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  to {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

/* Swiper Navigation Arrows */
.swiper-button-prev,
.swiper-button-next {
  color: #000 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
  font-weight: 700;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}